<!DOCTYPE html>
<html lang="es">
<head>
	<title>Ejercicio SPA</title>
</head>
<body>
	<div id="Mostrar">
		<!--Interpolación-->
		<h1> {{ mensaje }}</h1>
		<hr>
	</div>
	<div id="Campo">
		Indique su nombre: <input type="text" v-model="nombreCambiante">
		<!--Two Way Data Binding-->
		<p>{{ nombreCambiante }}</p><br>

		<!--Directivas Condicionales-->
		<strong v-if="nombreCambiante == 'Alvaro'">Acceso concedido, bienvenido de nuevo {{ nombreCambiante }}</strong>
		<strong v-else>Alerta, intruso. El nombre {{ nombreCambiante }} no está declarado en la base de datos.</strong>
	</div>
	<script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
	<script src="JS/main.js" type="text/javascript"></script>
</body>
</html>